/* fonts  */

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v49-latin-300.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v49-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/roboto-v49-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v49-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v49-latin-900.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v21-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v21-latin-700.woff2') format('woff2');
}

:root {
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-lignt: #ffffff;
  --color-dark: #000000;
  --color-hero-text: #4a4a4a;
  --color-footer-text: #747272;
}

/* base  */
* {
  box-sizing: border-box;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.section {
  padding: 48px 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-image: url('../image/section-bg.png');
  background-position: center 1450px;
  background-repeat: no-repeat;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

/* nav section  */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-list {
  display: flex;
  justify-content: center;
  gap: 56px;
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.link-header {
  color: var(--color-brand-dark);
  text-decoration: none;
  line-height: 100%;
  transition: color 0.3s;
}

.link-header:hover {
  color: var(--color-brand-light);
}

.header-social {
  background-color: transparent;
  border: none;
  padding: 0;
}

.header-icons {
  width: 32px;
  height: 32px;
  fill: var(--color-brand-dark);
  cursor: pointer;
}

/* hero-section  */
.hero-section {
  padding: 122px 0 63px 0;
  background-image: url(../image/hero-bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section p {
  color: var(--color-brand-dark);
  margin-bottom: 16px;
}

.hero-container {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  margin-left: 106px;
}

.hero-section__title {
  margin-bottom: 40px;
  color: var(--color-brand-light);
  font-family: 'Play', sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 1.2;
}

.modal-btn-open {
  max-width: 220px;
  margin-bottom: 14px;
  color: var(--color-lignt);
  background-color: var(--color-brand-light);
  font-weight: 600;
  border-color: var(--color-brand-light);
  border-radius: 32px;
  padding: 16px 32px;
}

.modal-btn-open:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}

.hero-section__text {
  color: var(--color-hero-text);
  font-size: 12px;
  line-height: 1.5;
}

/* sections , invitation-section */
.section-title {
  color: var(--color-brand-dark);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
}

.title-brand {
  color: var(--color-brand-light);
  font-family: 'Play', sans-serif;
  font-size: 64px;
  font-weight: 700;
}

.invitation-section {
  padding: 63px 0 88px 0;
}

.invitation-container {
  position: relative;
  display: flex;
}

.invitation-content{
  max-width: 670px;
  flex-grow: 1;
  padding-top: 40px;
}

.invitation-image {
  height: 700px;
  position: relative;
  padding: 0;
  flex-grow: 1;
  margin: 0;
}

.circle-image-before,
.circle-image-after {
  border-radius: 50%;
}

.circle-image-before {
  position: absolute;
  width: 335px;
  top: 0;
  left: 32px;
}

.circle-image-after {
  position: absolute;
  bottom: 0;
  right: 0;
}

.invitation-section__title {
  margin-bottom: 40px;
}

.invitation-section__text {
  color: var(--color-brand-dark);
  font-size: 22px;
  line-height: 1.7;
}

.invitation-section__text p {
  margin-bottom: 40px;
}

.accent {
  color: var(--color-brand-dark);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.7;
}

/* advantages-section  */
.advantages-section {
  padding: 88px 0 48px 0;
  
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list {
  max-width: 1060px;
  display: flex;
  flex-basis: calc((100% - 112px) / 3);
  gap: 56px;
  padding: 0;
}

.advantages-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #A8C6F5;
  box-shadow: 0 4px #A8C6F5;
  border-radius: 32px;
  padding: 24px 32px;
  height: 181px;
  text-align: center;
  background-color: var(--color-lignt);
}

.advantages-title {
  margin-bottom: 48px;
  max-width: 440px;
  text-align: center;
}

.advantages-section_card {
  color: var(--color-dark);
  line-height: 1.3;
}

.card-image {
  margin-bottom: 8px;
}

/* procedures-section  */
.procedures-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  
}

.all-procedures-list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.procedures-list {
  max-width: 1060px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc((100% - 32px) / 3);
  /* flex-wrap: wrap; */
  gap: 16px;
  padding: 0;
}

.procedures-carusel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--color-lignt);
  padding: 0;
  border: 1px solid var(--color-brand-dark);
  border-radius: 50%;
  cursor: pointer;
}

.procedures-carusel:hover {
  background-color: var(--color-brand-light);
  border: 1px solid var(--color-lignt);
}

.procedures-image {
  transition: transform .3s;
}

.procedures-image:hover {
  transform: scale(1.05);
}

.procedures-arrow {
  width: 16px;
  height: 16px;
  fill: var(--color-brand-dark);
}

.next {
  transform: rotate(180deg);
}

.procedures-carusel:hover .procedures-arrow {
  fill: var(--color-lignt);
}

.procedures-title {
  margin-bottom: 48px;
}

.procedures-section .procedures__name {
  color: var(--color-lignt);
  font-size: 22px;
  line-height: 1.2;
}

/* maps-section */
.maps-section {
  padding-bottom: 96px;
}

.maps-title {
  margin-bottom: 48px;
  text-align: center;
}

.map {
  flex-shrink: 0;
  border-radius: 32px;
  border: none;
  width: 100%;
  max-width: 605px;
  height: 480px;
}

/* footer  */
footer {
  padding: 56px 0;
  background-color: var(--color-brand-dark);
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-nav,
.footer__address  {
  display: flex;
  flex-basis: 50%;
  gap: 20px;
}

.footer-logo,
.footer__menu  {
  flex-grow: 1;
  padding: 0;
  margin: 0;
}

.footer-address-list,
.footer-address-info  {
  flex-grow: 1;
}

.footer-contact-list {
  margin: 0;
  padding: 0;
}

.link-footer {
  color: var(--color-lignt);
  font-size: 16px;
  line-height: 100%;
}

.footer__address__link {
  color: var(--color-lignt);
  font-size: 16px;
}

.footer-social {
  background-color: transparent;
  border: none;
}

.footer-icons {
  width: 42px;
  height: 42px;
  fill: var(--color-lignt);
  cursor: pointer;
}

.footer__address-copyright {
  color: var(--color-footer-text);
  font-size: 13px;
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 31, 74, 0.4);
  padding: 20px 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 100%;
  max-height: 680px;
  background-color: var(--color-lignt);
  border-radius: 32px;
  padding: 32px;
  display: flex;
}

.modal-btn-close {
  position: absolute;
  top: 32px;
  right: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
